
/* .dashboard .dashboardcontainer{
    border: 5px solid green;
} */
.dashboard__container h2 div{
    color: white;
} 
.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 30px;
  }
  .dashboard__btn {
    padding: 10px;
    width: 200px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 150px;
    border: none;
    color: white;
    background-color: black;
  }
  .dashboard div {
    margin-top: 7px;
  }
  .dashboard a{
    color: white;
  font-size: 30px;    
  position: absolute;
  top: 50px;
  left: 30px;
  text-decoration: none;
  }

  
  .dashboard__container h2 {
    background-color: white;
    color:  #6C63FF;
    padding: 10px;
    margin: 0;
}
.dashboard__container h3 {
    background-color: white;
    color:  #6C63FF;
}